<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bingo Card Maker</title>
  </head>
  <body>
    <h1>Bingo Card Maker</h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <label>Template image: <input type="file" name="template" required></label><br>
      <label>Number of cards: <input type="number" name="quantity" min="1" max="100" value="4"></label><br>
      <label>Font path (optional): <input type="text" name="font_path" placeholder="BAUHS93.ttf"></label><br>
      <input type="submit" value="Generate">
    </form>
  </body>
</html>
